
@{
    ViewData["Title"] = "Confirmation";
}

@model Mission4.Models.MovieEntry

<!--Confirmation Message-->
<div class="text-center">
    <h2 class="display-4">@Model.Title was added to the Joel Hilton Film Collection.</h2>
</div>