@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">Baconsale</h1>

    <!--Link to podcast website-->
    <a href="https://baconsale.com/">Click here to visit baconsale.com</a>

    <!--Image of website-->
    <img src="~/img/baconsale.png" height="500"/>
    
</div>
